// Variables
$red: #ce011f;
$grey: #cdcdcd;
$body-text: #2b2b2b;
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
	font-family: "Roboto", sans-serif;
	color: $body-text;
}
// Grids
.col-span-4 {
	grid-column-end: span 4 !important;
}
.col-span-5 {
	grid-column-end: span 5 !important;
}
.col-span-6 {
	grid-column-end: span 6 !important;
}
.col-start-2 {
	grid-column-start: 2 !important;
}
.col-start-4 {
	grid-column-start: 4 !important;
}
.col-start-5 {
	grid-column-start: 5 !important;
}
.col-start-6 {
	grid-column-start: 6 !important;
}
// Colour
// .red-bg {
// 	background-color: $red !important;
// }
.md-container {
	max-width: 1200px;
	margin: auto;
	padding: 0 1rem;
}
.mt-4r {
	margin-top: 4rem !important;
}
.topnav {
	width: 100%;
	background-color: black;
	height: 2rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0 1.6rem;
	position: fixed;
	z-index: 100;
	top: 0;
	box-shadow: 0 0 20px rgba(207, 207, 207, 0.25);
}
ul.topnavmenu {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	li.topnavlink {
		padding: 0 1.5rem;
		a {
			color: white;
			font-size: 0.6rem;
			line-height: unset;
			text-decoration: none;
			&:hover {
				color: red;
			}
		}
		&:last-child {
			padding-right: 0;
		}
	}
}
.menu {
	background-color: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.75rem 1rem;
	position: fixed !important;
	top: 29px;
	transition: background 0.35s ease-in;
	z-index: 100;
	width: 100%;
}
.menu.scrolled {
	background-color: white;
	.section-text {
		color: rgba(77, 77, 77, 0.253);
	}
	ul.right-links {
		li a {
			color: #2b2b2b;
			transition: 0.5s;
			&:hover {
				color: $red;
				text-decoration: none;
			}
		}
		i.fa {
			padding-left: 0.5rem;
		}
	}
	i {
		color: #2b2b2b;
		transition: 0.5s;
		&:hover {
			color: $red;
		}
	}
}
.logo {
	height: 3rem;
	width: auto;
	img {
		height: 100%;
		width: auto;
	}
}
.action-btn {
	width: fit-content;
	height: 3.2rem;
	padding: 0 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	outline: none;
	color: white;
	border: 1px solid transparent;
	transition: all 0.5s ease;
	border-radius: 3px;
	background-color: transparent;
}
.action-btn.red-bg {
	border-color: $red;
	background-color: $red;
	&:hover {
		background-color: transparent;
	}
}
.action-btn.learn {
	border-color: black;
	color: black;
	margin-bottom: 2rem;
	&:hover {
		background-color: black;
		color: white;
	}
}
.action-btn.reverse,
.action-btn.reversed {
	border-color: white;
	color: black;
	margin-bottom: 2rem;
	transition: 0s;
	background-color: white;
	&:hover {
		background-color: transparent;
		color: white;
	}
}
.action-btn.reversed {
	transition: 0.5s;
}
.action-btn.black {
	border-color: black;
	color: white;
	transition: 0.5s;
	background-color: black;
	font-size: 10px;
	margin: 0 auto 2rem;
	&:hover {
		background-color: transparent;
		color: black;
	}
}
.hero-banner {
	width: 100%;
	min-height: 90vh;
	background: url(https://f.hubspotusercontent00.net/hubfs/534101/_landing-page-template-files/202007_RecruitingPage/Hero_Keith%20Butler_wFilter_noCrop.png)
		no-repeat 60% 65%;
}
.hero-inner {
	padding: 11rem 0 5rem;
}
h1.hero-text {
	font-size: 5.6rem;
	max-width: none;
	text-transform: uppercase;
	color: white;
	font-family: "Roboto";
	font-weight: 300;
}
.social-icons {
	margin: 10rem auto 0;
	i {
		font-size: 1.4rem;
		color: $grey;
		padding: 0 0.5rem;
		transition: 0.5s ease;
		&:hover {
			transform: translateY(-10px);
			color: $red;
		}
	}
}
.pad {
	padding: 5rem 0 !important;
}
.image-section {
	grid-column-end: span 8;
}
.image-box,
.image-boxx {
	width: 100%;
	height: 33rem;
	background-color: #ce011f;
	img {
		width: 100%;
		height: auto;
	}
}
.image-boxx {
	height: 42rem;
}
.text-box {
	width: 100%;
	height: fit-content;
	padding: 2rem;
	grid-column-end: span 4;
}
.mb-n-8 {
	margin-top: -8rem;
}
.mb-8 {
	margin-top: 8rem;
}
h1.intro {
	font-size: 3rem;
	margin: 0 auto 2rem;
	color: black;
	font-weight: 700;
}
p.story-text {
	color: #4d4d4d;
	font-size: 0.9rem;
	letter-spacing: 0.06rem;
	font-weight: 400;
	// line-height: 2rem;
}
.new-section {
	padding: 0rem;
}
.headline {
	font-weight: 400;
	font-size: 0.9rem;
}
p.title {
	font-weight: 400;
	color: black;
	font-size: 0.9rem;
}
img.read {
	display: block;
	float: right;
	margin: 2rem auto 0;
	width: 50%;
	background-color: #ce011f;
	height: 8rem;
}
.arrow-right {
	width: 1.8rem;
	height: 1.8rem;
	border: 1px solid black;
	border-radius: 50%;
	display: block;
	margin-right: 1.5rem;
	margin-left: 0;
	position: relative;
	right: 0;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.reads {
	display: flex;
	width: 100%;
	justify-content: space-between;
	height: fit-content;
	align-items: center;
}
.readmore {
	grid-column-start: span 3;
}
.testimonial-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 0 2rem;
}
.image-sec {
	width: 7rem;
	height: 7rem;
	border-radius: 50%;
	background-color: #4d4d4d;
	margin-bottom: 2rem;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
h1.test {
	font-size: 2rem;
	margin: 0 1rem 1.5rem;
	color: black;
	font-weight: 300;
}
.carousel-box {
	grid-column-start: 6;
	grid-column-end: span 6;
	width: 100%;
	background-color: black;
	height: 31rem;
	margin-top: -12rem;
	padding: 2.5rem;
}
.gridbox {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	column-gap: 2rem;
}
.gridbox.content-box {
	padding: 5rem 1.6rem;
}
.rtl {
	direction: rtl;
}
.ltr {
	direction: ltr;
}
.carousel-title {
	display: flex;
	justify-content: space-between;
}
.single-item {
	h4 {
		display: inline-block;
		font-size: 1rem;
		font-weight: 400;
		letter-spacing: 0.06rem;
		line-height: 1.4rem;
		margin: 0 auto 3rem;
		padding: 0.5rem 0 0.5rem 1rem;
		position: relative;
		overflow: hidden;
		color: white;
		&::before {
			background: #ce011f;
			content: "";
			height: 100%;
			left: 0;
			top: 0;
			position: absolute;
			vertical-align: middle;
			width: 0.1rem;
		}
	}
}
.carousel-items {
	p {
		font-size: 1rem;
		color: #8a8a8a;
		margin: 0 auto 0.5rem;
		font-weight: 400;
	}
	b {
		color: white;
	}
}
b {
	font-weight: 700;
}
.item-box {
	background-color: black;
	min-height: 31rem;
	width: 100%;
	grid-column-start: 7;
	grid-column-end: span 5;
	margin-top: -12rem;
	padding: 3rem;
	h1 {
		font-size: 1.4rem;
		font-weight: 500;
		color: white;
		position: relative;
		padding: 0.8rem 0 0.8rem 1rem;
		&::before {
			background: #ce011f;
			content: "";
			height: 100%;
			left: 0;
			top: 0;
			position: absolute;
			vertical-align: middle;
			width: 0.1rem;
		}
	}
}
.item-box.col4 {
	grid-column-start: 13;
	grid-column-end: 7;
}
.item-inner {
	margin-top: 2rem;
}
.item-single {
	margin-bottom: 2rem;
	h2 {
		font-size: 2.2rem;
		font-weight: 400;
		color: white;
		margin-bottom: 0.5rem;
	}
	p {
		font-weight: 500;
	}
}
p.quotes {
	font-weight: 300;
	font-size: 0.9rem;
	text-transform: uppercase;
	color: black;
	margin-bottom: 0;
}
.mt-n-20 {
	margin-top: -12rem !important;
}
.pl-9 {
	padding-left: 7rem;
}
.light-bg {
	height: 100%;
	position: relative;
	&::before {
		background-color: #fafafa;
		content: "";
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
		right: 0;
		height: 50%;
		z-index: -1;
	}
}
.grey-bg {
	background-color: #fafafa;
}
.head-text {
	font-size: 1.4rem;
	font-weight: 700;
	margin-bottom: 1.5rem;
}
.key-section {
	padding: 2rem;
}
.mid {
	background-color: #f2f1f1 !important;
}
.center-btn {
	margin: auto;
	padding: 1.5rem 0;
	width: fit-content;
}
.small-textbox {
	padding: 5rem 3rem;
	background-color: black;
	width: 100%;
	h3 {
		font-weight: 300;
		text-align: center;
		font-size: 2.4rem;
		color: white;
	}
}
.first-footer {
	background: url(https://f.hubspotusercontent00.net/hubfs/534101/_landing-page-template-files/202007_RecruitingPage/Find_Office_wFilter_noCrop_Coalition_Properties_Group_0220_398.png)
		no-repeat 50% 50%;
	background-size: cover;
	width: 100%;
	height: 100%;
	z-index: 0;
	padding: 10rem 0;
	margin-top: 5rem;
	display: flex;
	justify-content: center;
}
.footer-content {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.foot-text {
	font-size: 3rem;
	font-weight: 700;
	color: white;
	text-align: center;
	margin-bottom: 2rem;
}
.second-footer {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	margin: 2rem auto;
}
.sec-title {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		margin-bottom: 0.8rem;
	}
	li a {
		font-size: 0.8rem;
		color: #a2a2a2;
		font-weight: 400;
	}
	li.top a {
		color: #676767;
		font-size: 1.1rem;
		text-transform: capitalize;
	}
}
.footer-logo {
	width: 8rem;
	height: 4rem;
	margin: 3rem auto;
	background-color: #ce011f;
	img {
		width: 100%;
		height: auto;
	}
}
.third-footer {
	width: 100%;
	background: #f7f7f7;
	text-align: center;
	padding: 25px;
}
.copyright-text {
	font-size: 0.7rem;
	font-weight: 300;
	line-height: 1.1rem;
	color: #c6c6c6;
	margin: 0 auto 1rem;
}
ul.navlinks {
	display: flex;
	text-align: center;
	list-style: none;
	justify-content: center;
	li {
		color: #4d4d4d;
		font-size: 0.7rem;
		letter-spacing: 0.06rem;
		line-height: 3rem;
		margin-left: 0.5rem;
		font-weight: 300;
		a {
			color: #cdcdcd;
		}
		&:after {
			background: transparent;
			content: "|";
			display: inline-block;
			margin: 0 0 0 0.5rem;
			color: #cdcdcd;
			transform: rotate(0);
			top: auto;
			left: auto;
			position: relative;
		}
		&:last-child {
			&::after {
				content: "";
			}
		}
	}
}

// Property Styles
nav.property-nav {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 1rem 1rem;
	align-items: center;
}
.property-logo {
	width: 6rem;
	// background-color: #ce011f;
	height: auto;
	img {
		width: 100%;
		height: auto;
	}
}
.nav-btn {
	padding: 0 1.5rem;
	margin-right: 0.5rem;
	color: #343342;
	background-color: transparent;
	font-size: 1rem;
	font-weight: 600;
	border-radius: 4px;
	outline: 0;
	border: 2px solid transparent;
	height: 3rem;
}
.login {
	border: 2px solid#343342;
}
.sign-up {
	background-color: #343342;
	color: white;
}
.property-hero {
	width: 100%;
	height: 100vh;
	background-color: #ce011f;
	display: flex;
	justify-content: center;
	align-items: center;
}
.property-text {
	font-family: "Source Sans Pro";
	position: relative;
	z-index: 1;
	width: 100%;
	max-width: 990px;
	text-align: center;
	font-size: 56px;
	color: #fff;
	margin-bottom: 40px;
}
.search-box {
	width: 100%;
	position: relative;
}
.tab {
	padding: 0.5rem 2rem;
	background-color: white;
	color: #343342;
	border-color: transparent;
	font-size: 16px;
	outline: 0;
	cursor: pointer;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 600;
}
.tab.current {
	background: #343342;
	color: #fff;
	border: 1px solid #343342;
}
.search-bar {
	background-color: white;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.property-search {
	width: 80%;
	border: 0;
	padding: 1rem 0;
	color: #d9e0e0;
	font-family: "Source Sans Pro";
	font-size: 1rem;
	outline: 0;
}
.search-btn {
	background: #343342;
	color: #fff;
	border: 1px solid #343342;
	padding: 0rem 3rem;
	font-family: "Source Sans Pro";
	font-size: 1rem;
	outline: 0;
	border-radius: 3px;
	height: 3.1rem;
}
.pop-up-search {
	box-shadow: 0 2px 8px 0 rgba (0, 0, 0, 0.9);
	position: absolute;
	top: 140px;
	border-radius: 4px;
	background-color: white;
	padding: 1rem;
	width: 100%;
}
.poptext {
	margin-right: 6px;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 0.85rem;
	font-weight: 600;
	letter-spacing: 0.2px;
	color: #343342;
}
.property-image {
	width: 100%;
	height: 28rem;
	background-color: #2b2b2b;
	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
.h-fit {
	height: fit-content;
	display: flex;
	align-items: center;
}
.ng {
	--bs-gutter-x: 0rem;
}
.guide-title {
	font-size: 26px;
	line-height: 39px;
	font-weight: 600;
	font-family: "Source Sans Pro", sans-serif;
	color: #343342;
}
.guide-sub {
	font-size: 16px;
	line-height: 39px;
	font-weight: 600;
	margin-bottom: 40px;
	color: #6d797a;
	font-family: "Source Sans Pro", sans-serif;
}
.find-tab {
	color: #343342;
	cursor: default;
	font-weight: 600;
	font-size: 1rem;
	font-family: "Source Sans Pro";
	margin-right: 2rem;
}
.find-tab.not {
	color: #6d797a;
}
.find-bar {
	width: 50%;
	margin-bottom: 1rem;
}
.tab-box {
	width: 100%;
	position: relative;
	background-color: transparent;
	height: 1px;
}
.tab-progress {
	position: absolute;
	top: -1px;
	bottom: -1px;
	left: -4px;
	background: #343342;
	transition: left linear 0s, width linear 0s;
	height: 3px;
	width: 40%;
}
.tab-progress.agent {
	left: 42%;
	width: 35%;
}
.find-search {
	overflow: hidden;
	flex-grow: 1;
	// padding-left: 15px;
	height: 50px;
	display: flex;
	align-items: center;
	position: relative;
	background-color: #fff;

	width: 80%;
}
.find {
	height: 100%;
	width: 100%;
	background-color: white;
	border: 0;
	outline: 0;
	font-size: 16px;
	border: 1px solid #c9d2d3;
	border-radius: 4px 0 0 4px;
	padding: 0 0 0 1rem;
	font-family: "Source Sans Pro", sans-serif;
}
.find-icon {
	cursor: pointer;
	background: #343342;
	height: 50px;
	width: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	i {
		color: white;
	}
}
.fit {
	display: flex;
	flex-direction: column;
	height: 28rem;
	justify-content: center;
}
.property-footer {
	border-top: 1px solid #c9d2d3;
	font-family: "Source Sans Pro", sans-serif;
	color: #343342;
	font-size: 14px;
	line-height: 1.5;
	background-color: #f5f5f5;
	padding-top: 40px;
	padding-bottom: 4rem;
}
.property-socials {
	margin: 2rem 0;
	i {
		margin-right: 3rem;
		color: #343342;
		font-size: 1.8rem;
	}
}
.footer-links {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 2rem;
}
ul.footer-ul {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		padding: 8px 0;
		font-size: 14px;
		color: #343434;
		a {
			color: #343342;
			// margin-right: 5rem;
		}
	}
	li.top {
		font-size: 1rem;
		font-weight: 600;
		text-transform: capitalize;
	}
}
.copys {
	margin-bottom: 1rem;
}
.copys-ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	margin-bottom: 1rem;
	li {
		font-size: 0.85rem;
		color: #343342;
		text-transform: capitalize;
		margin-right: 0.5rem;
		a {
			color: #343342;
		}
		&:after {
			background: transparent;
			content: "|";
			display: inline-block;
			margin: 0 0 0 0.5rem;
			color: #343434;
			transform: rotate(0);
			top: auto;
			left: auto;
			position: relative;
		}
		&:last-child {
			&::after {
				content: "";
			}
		}
	}
}
.copy-text {
	margin-bottom: 1rem;
}
.broke-logo {
	width: 7rem;
	height: auto;
	img {
		width: 100%;
		height: auto;
	}
}
.left-menu,
.right-menu {
	display: flex;
}
ul.right-links {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		padding: 0 1.2rem;
		color: white;
		font-size: 1rem;
		font-weight: 600;
		margin-right: 1rem;
		display: flex;
		align-items: center;
		height: fit-content;
		a {
			color: white;
		}
	}
}
h1.headline {
	font-size: 4rem;
	color: white;
	text-align: center;
	font-family: serif;
	font-weight: bold;
}
.tech-wrapper {
	width: 100%;
	background-color: $red;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	&::after {
		content: "";
		display: block;
		position: absolute;
		bottom: 2.5rem;
		background: url(https://technology.kw.com/wp-content/themes/keller-cloud/_assets/images/arrow-down.png)
			50% 50% no-repeat;
		background-size: cover;
		width: 25px;
		height: 37px;
		left: 50%;
		transform: translateX(-50%);
	}
}
.section-text {
	font-size: 1.7rem;
	color: white;
	margin-left: 3rem;
	font-weight: 600;
}
h2.divide-section {
	font-size: 3.3rem;
	color: black;
	text-align: center;
	font-family: serif;
	font-weight: bold;
	margin: 0 auto 2rem;
}
.tech-body {
	margin: 5rem 0;
}
p.div-section {
	color: #868686;
	max-width: 700px;
	font-size: 10px;
	margin: 0 auto 2rem;
	text-align: center;
	letter-spacing: 0.06rem;
	line-height: 3;
}
.black-section {
	background-color: black;
	color: white;
	width: 100%;
	padding: 4rem 0 8rem;
}
.black-intro {
	color: white;
	font-size: 1.3rem;
	text-align: center;
	margin-bottom: 2rem;
}
.black-img {
	width: 85%;
	height: auto;
	img {
		width: 100%;
		height: auto;
	}
}
.flex-items {
	display: flex;
	justify-content: space-between;
}
.single-flex {
	flex-basis: 47%;
	padding: 2rem;
	text-align: center;
}
.flex-text {
	font-family: "Roboto", sans-serif;
	font-size: 1.2rem;
	font-weight: 400;
	letter-spacing: 0.06rem;
	margin: 0 auto 1.5rem;
	color: black;
}
h4.topic {
	font-family: "Roboto", sans-serif;
	font-size: 1.2rem;
	font-weight: 400;
	letter-spacing: 0.06rem;
	margin: 0 0 1.5rem;
}
.video-frame {
	width: 100%;
	height: 28rem;
	background-color: red;
}
.carousel-slide {
	background: url(https://outfront.kw.com/wp-content/uploads/2021/05/Mindset_Homepage_Hero.jpg)
		50% 50% no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-size: cover;
	opacity: 1;
	display: block;
	z-index: 5;
	transition: opacity 0.25s ease-in-out;
	&::after {
		content: "";
		z-index: 1;
		background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0.45),
			rgba(0, 0, 0, 0.65)
		);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.carousel-hero {
	height: 90vh;
	position: relative;
	margin-top: 99px;
}
.contains {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 1.6rem;
}
.slide-content {
	position: absolute;
	width: 80%;
	max-width: 500px;
	top: 50%;
	// left: 50%;
	// transform: translate(-50%, -60%);
	z-index: 2;
	right: 7.5%;
	left: auto;
	transform: translate(-7.5%, -60%);
	h4 {
		display: inline-block;
		font-size: 0.9rem;
		font-weight: 400;
		letter-spacing: 0.06rem;
		line-height: 1.4rem;
		margin: 0 auto 3rem;
		padding: 0.5rem 0 0.5rem 1rem;
		position: relative;
		overflow: hidden;
		color: white;
		&::before {
			background: #ce011f;
			content: "";
			display: block;
			height: 100%;
			left: 0;
			top: 0;
			position: absolute;
			width: 0.18rem;
		}
	}
	h2 {
		font-size: 2.5rem;
		color: white;
		line-height: 3rem;
		font-weight: bold;
		margin: 0 auto 2rem;
	}
}
.carousel-navigations {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: absolute;
	left: 50%;
	bottom: 25px;
	transform: translateX(-50%);
	width: 100%;
	z-index: 10;
}
.carousel-nav {
	flex-basis: 100px;
	flex-grow: 1;
	margin: 0 1rem;
	padding: 0.7rem;
	width: 20px;
	position: relative;
	opacity: 1;
	transition: opacity 0.35s ease-in-out;
	&::before {
		background: rgba(255, 255, 255, 0.5);
		content: "";
		display: block;
		height: 2px;
		left: 0;
		position: absolute;
		transition: all 0.35s ease-in-out;
		top: 0;
		width: 100%;
	}
}
.carousel-p {
	font-size: 0.75rem;
	line-height: 1.2rem;
	margin: 0;
	color: #ffffff;
	opacity: 0.5;
	font-weight: 400;
}
.carousel-p.current {
	opacity: 1;
}
h2.outfront {
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 1.9rem;
	margin: 0 auto 2rem;
	text-align: center;
}
p.features {
	font-size: 0.9rem;
	letter-spacing: 0.03rem;
	line-height: 1.8rem;
	color: black;
	margin: 0 auto 1.5rem;
	text-align: center;
	a {
		color: #676767;
		transition: 0.35s ease-in-out;
		position: relative;
		padding-right: 1rem;
		margin-right: 1.3rem;
		text-decoration: none;
		display: inline-block;
		&:hover {
			&::before,
			&::after {
				right: -0.37rem;
			}
		}
		&::before,
		&::after {
			background: #676767;
			content: "";
			width: 7px;
			height: 0.15rem;
			right: 0rem;
			position: absolute;
			transition: right 0.41s ease-in;
		}
		&::before {
			transform: rotate(35deg);
			top: 11px;
		}
		&::after {
			transform: rotate(-35deg);
			top: 15px;
		}
	}
}
p.features.st a {
	&::before {
		top: 13px;
	}
	&::after {
		top: 17px;
	}
}
h1.has-red-line,
h2.has-red-line,
h3.has-red-line,
h4.has-red-line {
	display: inline-block;
	position: relative;
	padding: 1rem 0 1rem 1rem;
	overflow: hidden;
	&::before {
		background: #ce011f;
		content: "";
		display: block;
		height: 100%;
		left: 0;
		top: 0;
		position: absolute;
		width: 0.17rem;
	}
}
.flex-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: fit-content;
	width: 100%;
	margin-bottom: 3rem;
}
h2.has-red-line {
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 2rem;
	color: black;
}
.card-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-flow: dense;
	margin: 0 auto 2.5rem;
	gap: 1rem;
}
.card-container.pod {
	grid-template-columns: 1fr;
}
.single-card {
	background: #ffffff;
	border-radius: 2px;
	box-shadow: 0 0 15px rgba(207, 207, 207, 0.25);
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	overflow: hidden;
	text-decoration: none;
	transition: box-shadow 0.41s ease-in-out;
	width: 100%;
	position: relative;
	&:hover {
		box-shadow: 0 0 15px #cfcfcf;
		.card-image {
			transform: scale(1.055);
		}
	}
}
.single-card.pod {
	display: grid;
	grid-template-columns: 1fr 2fr;
}
.card-image {
	width: 100%;
	height: 22rem;
	overflow: hidden;
	transition: transform 0.41s ease-in-out;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}
.card-image.pod {
	height: 27rem;
}
p.seasons {
	color: #8a8a8a;
	font-size: 0.9rem;
	text-align: right;
}
.card-content {
	border-top: none;
	padding: 3.5rem 2.5rem 2rem;
	position: relative;
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-grow: 2;
	justify-content: space-between;
	h3 {
		color: #000000;
		font-weight: 500;
		margin: 0 auto 2rem;
		font-size: 1.1rem;
		letter-spacing: 0.04rem;
	}
}
.card-tag {
	background: #000000;
	border-radius: 2px;
	padding: 0.5rem 1rem;
	position: absolute;
	top: -1.5rem;
	left: 50%;
	min-width: 8.5rem;
	transform: translateX(-50%);
	color: #ffffff;
	font-size: 0.8rem;
}
.content-details {
	align-self: flex-end;
	display: flex;
	justify-content: space-between;
	padding-top: 1.4rem;
	width: 100%;
	p {
		color: #c8c8c8;
		font-size: 0.82rem;
		margin: 0;
		font-weight: 400;
	}
	p.date {
		text-align: right;
		font-style: italic;
	}
}
.carousel-video-section {
	position: relative;
	overflow: hidden;
}
.carousel-video {
	width: 100%;
	background-color: $red;
	border-radius: 2px;
	box-shadow: 0 0 15px rgba(207, 207, 207, 25%);
	overflow: hidden;
	position: relative;
	height: 41rem;
}
.carousel-video-nav {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1rem;
	transition: opacity 0.35s ease-in;
	margin: 1.5rem auto;
}
.carousel-video-single {
	opacity: 0.5;
	padding: 1.5rem 0.5rem 0.5rem;
	position: relative;
	&::before {
		background: #676767;
		content: "";
		display: block;
		height: 2px;
		left: 0;
		position: absolute;
		transition: all 0.35s ease-in-out;
		top: 0;
		width: 100%;
		transition: background 0.35s ease-in;
	}
	h3 {
		font-size: 1.15rem;
		font-weight: 700;
		letter-spacing: 0.04rem;
		line-height: 1.5rem;
		margin: 0 auto 1rem;
	}
	p {
		color: #4d4d4d;
		font-size: 0.9rem;
		letter-spacing: 0.04rem;
		line-height: 2rem;
		font-weight: 400;
	}
}
.carousel-video-single.active {
	opacity: 1;
	&::before {
		background: $red;
	}
}
.subscription {
	background: #ce011f;
	padding: 5rem 1.5rem;
	display: flex;
}
.text-sub {
	margin-right: 4rem;
	// flex-basis: 47rem;
	h2 {
		font-size: 1.6rem;
		font-weight: 700;
		line-height: 2rem;
		margin: 0 auto 2rem;
		color: white;
	}
	p {
		font-family: "Roboto", Arial, sans-serif;
		font-size: 0.85rem;
		letter-spacing: 0.06rem;
		line-height: 1rem;
		margin: 0 auto 2rem;
		color: white;
	}
}
